version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: msia-prop-postgres
    restart: always
    environment:
      POSTGRES_DB: msia_property_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: